img {
    width: 200px;
}
body {
    text-align: center;
    font-family: 'Arial';
    background: #d9c4ec;
    color: rgb(0, 0, 0);
    
}

.container{
    
}

.background {
    background-image: url("cat.png");
    width: 100%; 
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: 200px auto;
}
